.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}

plant-tile {
  border-radius: 20px;
  background-color: #7eb0f0;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  text-align: center;
}
